{{ define "main" -}}
<div class="recent-posts">
  <div class="posts">
    {{ $pages := where .Site.RegularPages "Section" "in" .Site.Params.mainSections }}
    {{ $paginator := .Paginate (where $pages "Params.hidden" "ne" true) }}
    {{ range $paginator.Pages }}
    <div class="post">
      <div class="post-header">
        <div class="meta">
          <a class="picture" href="{{ .RelPermalink }}">
            <img src="{{ with .Params.image }}{{ . }}{{ end }}" />
          </a>
        </div>
        <div class="matter">
          <span class="title small"></span>
        </div>
      </div>
    </div>
    {{ end }}
    {{ template "partials/paginator.html" . }}
  </div>
  {{ end }}