<header>
  {{ if .Site.Params.Avatar }}
  <div id="avatar">
    <a href="{{ .Site.BaseURL }}">
      <img src="{{ .Site.Params.Avatar }}" alt="{{ .Site.Title }}" />
    </a>
  </div>
  {{ end }}

  <div class="titletext">
    <h1 class="header-text">
      <a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a>
      
    </h1>
    <h1 class="header-text">
      {{ .Site.Params.Subtitle }}
    </h1>
    <h1 class="header-text">
      {{ if .IsTranslated }}
        {{ range .AllTranslations }}
          <a href="{{ .Permalink }}">{{ .Language.Lang }}</a>
        {{ end}}
      {{ end }}
      </h1>
  </div>
  <div id="title-description">
    {{- if isset .Site.Params "subtitle" -}}
    <p id="subtitle"></p>
    {{- end -}}
    <div id="social">
      <nav>
        <ul>
          {{- range $index, $key := .Site.Params.Social -}}
          <li>
            <a href="{{ $key.url }}"
              ><i title="{{ $key.name }}" class="icons {{ $key.icon }}"></i
            ></a>
          </li>
          {{- end -}}
        </ul>
      </nav>
    </div>
  </div>
  <div id="mainmenu">
    <nav>
      <ul>
        {{ range .Site.Menus.main }}
        <li><a href="{{ .URL }}">{{ .Name }}</a></li>
        {{ end }}
      </ul>
    </nav>
  </div>

  <div class="aboutblog">
  
      <a>about</a> <div class="barspacer"><span >|</span> </div><a>blog</a> 
    
  </div>
  <div class="headerspacer">

  </div>
</header>
